swagger: "2.0"
info:
  version: "1.0.0"
  title: Chingy Account Management Web Api
host: "echo-api.endpoints.new-eden-storage-a5c23.cloud.goog"

paths:
  "/auth/login":
    get:
      summary: Login to account
      description: Using one of the attached SSO characters, login to an account
      parameters:
        - in: query
          name: redirectTo
          schema:
            type: string
          required: true
          description: Redirect to the provided url
      responses:
        '304':
          description: successful, account has been located and tokens have been generated
        '400':
          description: Bad Request, Character isn't associated with an account, please register for one.

  "/auth/register":
    get:
      summary: Register for account
      description: Using a SSO Character, create a new account with that character set as it's main
      responses:
        '204': 
          description: successful, account have been created with the character set to main
      
  "/auth/addCharacter":
    get:
      summary: Add Character to Profile
      description: Add Eve SSO Character to an already existing account
      parameters: 
        - in: query
          name: redirectTo
          schema:
            type: string
          description: Redirect to the provided url
      security: 
        - bearerAuth: []
      responses:
        '200':
          description: character successfully added to account, redirecting to provided uri
        '400':
          description: bad request, character is already associated to another account
        '402':
          description: unauthorized, the JWT token for the account is invalid
  
  "/auth/verify/{userId}":
    get:
      summary: Verify and Retrieve user Token
      description: Verify account token, and recieve the requested character token
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        '400':
          description: bad request, invalid character
        '401':
          description: unauthorized, either the character isn't part of your tokened profile or invalid token